@font-face {
    font-family: Montserrat;
    src: url(./assets/fonts/Montserrat/Montserrat-VariableFont_wght.ttf) format('ttf');
    font-display: swap;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(9, 9, 9);
    color: white;
    font-family: "Montserrat", sans-serif;
    overflow-x: hidden;
}

.aviso {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    text-align: center;
}

.aviso span {
    color: red;
    font-weight: 400;
    font-size: 24px;
}

.aviso p {
    font-weight: 400;
    font-size: 24px;
}

.title-logo h1 {
    font-size: 42px;
}

.title-logo p {
    font-size: 40px;
    font-weight: 600;
    padding: 10px 10px;
    margin-bottom: 2rem;
    text-shadow: 0px 0px 8px #0FD300;

}

.bloco-principal {
    background-image: url(./assets/images/computador.webp);
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    padding: 0px 20px;
    background-size: cover;
    text-align: center;
    

}

.logo img {
    width: 300px;
}

svg.e-fas-gamepad-one {
    width: 5vw;
    vertical-align: middle;
    margin-bottom: 5px;
    fill: white;
}

.compra {
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 30px 0rem;
    align-items: center;
    justify-content: center;

}

.compra-two {
    display: flex;
    justify-content: center;
    align-items: center;

}

.compra-three {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px 0;

}

.promo {
    font-weight: 700;
    font-size: 42px;
}

.promo del {
    color: #ff0000;
}

.promo span {
    color: #0fd300;
    text-decoration: underline;
}

.btn {
    background-color: #0fd300;
    padding: 20px 10px;
    border-radius: 5px;
    font-size: 36px;
    width: 60%;
}

.btn-two {
    background-color: #0fd300;
    padding: 10px 10px;
    border-radius: 5px;
    font-size: 28px;
    font-weight: 700;
    text-align: center;
    width: 40%;
}

.pulse {
    animation: pulse 0.8s infinite;
    margin: 0 auto;
    display: table;
    margin-top: 0px;
    animation-direction: alternate;
    -webkit-animation-name: pulse;
    animation-name: pulse;
}

@-webkit-keyframes pulse {
    0% {
        -webkit-transform: scale(1);
    }

    100% {
        -webkit-transform: scale(1.1)
    }
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(1.1);
    }
}

.pulse02 {
    animation: pulse 2.5s infinite;
    margin: 0 auto;
    display: table;
    margin-top: 0px;
    animation-direction: alternate;
    -webkit-animation-name: pulse;
    animation-name: pulse;
}

@-webkit-keyframes pulse {
    0% {
        -webkit-transform: scale(1);
    }

    100% {
        -webkit-transform: scale(1.1);
    }
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(1.1);
    }
}

.btn-three {
    background-color: #0fd300;
    padding: 10px 15px;
    border-radius: 5px;
    font-size: 28px;
    font-weight: 700;
    text-align: center;
    width: 40%;
}

.m-pag {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

svg.e-fas-gamepad-two {
    width: 1vw;
    vertical-align: middle;
    margin-bottom: 5px;
    fill: white;
}

a {
    text-decoration: none;
    color: white;
    font-weight: 700;
    text-align: center;
}


section.according {
    margin: 3% 10px;
}

details {
    margin-bottom: 0.8rem;
    font-weight: 400;
}

.title-accordion {
    font-size: 3vw;
    margin: 2rem 0;
}

summary {
    font-size: 1.2rem;
}

.according-body {
    border-bottom: 3px solid #ffffff;
    width: 98%;
    font-size: 0.9rem;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;
    gap: 20px;
    transition: height 0.9s ease-in-out, padding 0.9s ease-in-out;
    padding: 0 0;
    height: 0;
    overflow: hidden;
    margin-bottom: 1rem;
}

details[open]+.according-body {
    padding: 0 1rem 1.5rem;
    height: auto;
}

.cards {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    padding: 0px 0px;
    text-align: center;
}

.card {
    padding: 10px 0px;
    width: 300px;
    height: 200px;

}

.card h2 {
    font-size: 28px;
    padding: 10px 0px;
    font-weight: 600;
}

.card p {
    font-size: 16px;
    color: #B4B4B4;
}

.depoimentos-container {
    padding: 5% 0%;
    text-align: center;
}

.title-dep {
    color: red;
    font-size: 38px;
    font-weight: 600;
    margin-bottom: 5px;
}

.subtitle-dep {
    font-size: 41px;
    font-weight: 400;
    margin-bottom: 20px;
}

.swiper-container {
    width: 100%;
    padding: 0px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper {
    margin: 0 auto;
    cursor: grab;
}

.swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    width: 23rem;
    height: 700px;
    border-radius: 25px;
}


div.swiper-button-next::after,
div.swiper-button-prev::after {
    font-size: 20px;
    font-weight: bold;
    color: #ffffff;
}


div.swiper-button-next {
    transform: translateX(60%);
}

div.swiper-button-prev {
    transform: translateX(-60%);
}


.card2 {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px 0px;
    gap: 10px;
}

.image svg {
    width: 50px;
    fill: #7A7A7A;
}

.content h1 {
    color: #009eff;
    font-size: 28px;
}

.content p {
    font-size: 16px;
    padding: 0%;
    margin: 15px 0px;
    color: #7A7A7A;
}


.info-btn {
    padding: 20px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: 700;
    color: red;
}

.info-btn p {
    font-size: 36px;
}

.info-btn span {
    font-size: 40px;
}

.countdown {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-family: Arial, sans-serif;
    margin-bottom: 15px;

}

.interval-time {
    font-size: 50px;
}

#hours,
#minutes,
#seconds {
    font-size: 100px;
}

.time-block {
    background-color: #690000;
    color: white;
    width: 30%;
    /* largura fixa */

    padding: 10px;
    text-align: center;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.time-block span {
    display: block;
    font-size: 2em;
}

.label {
    font-size: 1em;
}

.promo-two {
    text-align: center;
    font-size: 38px;
    font-weight: 400;
}

span.animation {
    font-weight: 700;
    font-size: 50px;
}

span.promo-buy {
    font-weight: 700;
    font-size: 70px;
}

@media (max-width:1093px) {
    .swiper-slide img {
        width: 28rem;
        height: 700px;
        border-radius: 25px;
    }
}

@media (max-width:768px) {

    .bloco-principal {
        background-image: url(./assets/images/celular.webp);
        background-repeat: no-repeat;
        height: 100%;
        width: 100%;
        padding: 0px 20px;
        background-size: cover;
        text-align: center;
        
    
    }

    .logo img {
        width: 200px;
    }

    

    .btn {
        font-size: 33px;
        width: 85%;
    }

    .btn-two {
        font-size: 24px;
        width: 50%;
    }

    .btn-three {
        font-size: 24px;
        width: 50%;
    }

    .cards {
        display: flex;
        gap: 5%;
        padding: 0px 0px;
    }

    .card {
        padding: 10px 0px;
        width: 200px;
        height: 300px;

    }

}

@media (max-width:500px) {


    .aviso {
        padding: 10px;
    }
    
    .aviso span {

        font-size: 15px;
    }
    
    .aviso p {
        font-size: 15px;
    }

    .title-logo p {
        font-size: 21px;
    }

    .bloco-principal {
        padding: 0px 0px;
    }

    .promo {
        font-size: 32px;
    }

    .logo img {
        width: 150px;
    }

    .btn {
        font-size: 19px;
        width: 85%;
        padding: 10px 10px;
        border-radius: 11px;
    }

    .btn-two {
        font-size: 18px;
        width: 90%;
        border-radius: 11px;

    }

    .btn-three {
        font-size: 18px;
        width: 90%;
        border-radius: 11px;
    }

    .cards {
        display: flex;
        flex-direction: column;
        gap: 1%;
        padding: 0px 0px;
    }

    .card {
        padding: 10px 0px;
        width: 90%;
        height: 200px;

    }

    .m-pag img {
        width: 90%;
    }

    .title-dep {
        font-size: 34px;
        margin-bottom: 10px;
    }

    .subtitle-dep {
        font-size: 19px;
        font-weight: 400;
        margin-bottom: 20px;
    }



    .swiper-slide img {
        width: 18rem;
        height: 700px;
        border-radius: 25px;
    }

    div.swiper-button-next {
        transform: translateX(40%);
    }

    div.swiper-button-prev {
        transform: translateX(-40%);
    }

   
    
    .content h1 {
        font-size: 24px;
    }
    
    .content p {
        font-size: 16px;
        padding: 0%;
        margin: 0px 0px;
    }
    

    .info-btn p {
        font-size: 22px;
    }

    .info-btn span {
        font-size: 24px;
    }

    .countdown {
        gap: 5px;
        margin-bottom: 15px;
    }
    .time-block {
        width:25%;
        /* largura fixa */
    
    }
    


    .interval-time {
        font-size: 7vw;
    }

    #hours,
    #minutes,
    #seconds {
        font-size: 15vw;
    }
    .label {
        font-size: 3vw;
    }
    

    .promo-two {
        text-align: center;
        font-size: 23px;
        font-weight: 400;
    }

    span.animation {
        font-weight: 700;
        font-size: 40px;
    }

    span.promo-buy {
        font-weight: 700;
        font-size: 60px;
    }

}