.aviso p,
.aviso span {
    font-weight: 400;
    font-size: 24px
}

a,
body {
    color: #fff
}

.info-btn,
.promo del,
.promo-two del,
.title-dep {
    color: red
}

@font-face {
    font-family: Montserrat;
    src: url(./assets/fonts/Montserrat/Montserrat-VariableFont_wght.ttf) format('ttf');
    font-display: swap
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

body {
    background-color: #090909;
    font-family: Montserrat, sans-serif;
    overflow-x: hidden
}

.aviso {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    text-align: center
}

.aviso span {
    color: red
}

.title-logo h1 {
    font-size: 42px
}

.title-logo p {
    font-size: 40px;
    font-weight: 600;
    padding: 10px;
    margin-bottom: 2rem;
    text-shadow: 0 0 8px #0fd300
}

.promo,
.promo-two del {
    font-weight: 700;
    font-size: 42px
}

svg.e-fas-gamepad-one,
svg.e-fas-gamepad-two {
    vertical-align: middle;
    margin-bottom: 5px;
    fill: white
}

.bloco-principal {
    background-image: url(./assets/images/background.webp);
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    padding: 0 20px;
    background-size: cover;
    text-align: center
}

.logo img {
    width: 300px
}

svg.e-fas-gamepad-one {
    width: 5vw
}

#vid_66c27617c57c83000b281720 {
    position: relative;
    width: 100%;
    padding: 56.25% 0 0;
}

#thumb_66c27617c57c83000b281720 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

#backdrop_66c27617c57c83000b281720 {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
}

.elementor-element:has(#smartplayer) {
    width: 100%;
}

.compra {
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 30px 0;
    align-items: center;
    justify-content: center
}

.compra-two,
.swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center
}

.compra-three {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px 0
}

.pulse,
.pulse02 {
    margin: 0 auto;
    display: table
}

.promo span {
    color: #0fd300;
    text-decoration: underline
}

.btn {
    background-color: #0fd300;
    padding: 20px 10px;
    border-radius: 5px;
    font-size: 36px;
    width: 60%
}

.btn-three,
.btn-two {
    background-color: #0fd300;
    border-radius: 5px;
    width: 40%;
    font-weight: 700;
    font-size: 28px;
    text-align: center
}

.btn-two {
    padding: 10px
}

.pulse {
    animation: .8s infinite alternate pulse;
    -webkit-animation-name: pulse;
}

.pulse02 {
    animation: 2.5s infinite alternate pulse;
    -webkit-animation-name: pulse;
}

@-webkit-keyframes pulse {
    0% {
        -webkit-transform: scale(1)
    }

    100% {
        -webkit-transform: scale(1.1)
    }
}

@keyframes pulse {
    0% {
        transform: scale(1)
    }

    100% {
        transform: scale(1.1)
    }
}

.btn-three {
    padding: 10px 15px
}

.according-body,
.cards {
    display: flex;
    padding: 0
}

.m-pag {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%
}

svg.e-fas-gamepad-two {
    width: 1vw
}

a {
    text-decoration: none;
    font-weight: 700;
    text-align: center
}

section.according {
    margin: 3% 10px
}

details {
    margin-bottom: .8rem;
    font-weight: 400
}

.title-accordion {
    font-size: 3vw;
    margin: 2rem 0
}

summary {
    font-size: 1.2rem
}

.according-body {
    border-bottom: 3px solid #fff;
    width: 98%;
    font-size: .9rem;
    flex-direction: column;
    align-items: left;
    justify-content: left;
    gap: 20px;
    transition: height .9s ease-in-out, padding .9s ease-in-out;
    height: 0;
    overflow: hidden;
    margin-bottom: 1rem
}

details[open]+.according-body {
    padding: 0 1rem 1.5rem;
    height: auto
}

.cards {
    align-items: center;
    justify-content: center;
    gap: 50px;
    text-align: center
}

.card2,
.countdown {
    gap: 10px;
    display: flex
}

.card,
.card h2 {
    padding: 10px 0
}

.card {
    width: 300px;
    height: 200px
}

.card h2 {
    font-size: 28px;
    font-weight: 600
}

.card p {
    font-size: 16px;
    color: #b4b4b4
}

.depoimentos-container {
    padding: 5% 0;
    text-align: center
}

.title-dep {
    font-size: 38px;
    font-weight: 600;
    margin-bottom: 5px
}

.subtitle-dep {
    font-size: 41px;
    font-weight: 400;
    margin-bottom: 20px
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.card__container{
    padding-block: 5rem;
}


.card__image img{
    width: 400px;
    height: 700px;
    border-radius: 1.25rem;
  
}

div.swiper-button-next::after,
div.swiper-button-prev::after {
    font-size: 20px;
    font-weight: 700;
    color: #fff
}


#bloco-cards2 {
    background-color: white;
    color: black;
}

.card2 {
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px 0
}

.image svg {
    width: 50px;
    fill: #7A7A7A
}

.content h1 {
    color: #009eff;
    font-size: 28px
}

.content p {
    font-size: 16px;
    padding: 0;
    margin: 15px 0;
    color: #7a7a7a
}

.info-btn {
    padding: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: 700
}

.info-btn p {
    font-size: 36px
}

.info-btn span {
    font-size: 40px
}

.countdown {
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
    margin-bottom: 15px
}

.interval-time {
    font-size: 50px
}

#hours,
#minutes,
#seconds {
    font-size: 100px
}

.time-block {
    background-color: #690000;
    color: #fff;
    width: 30%;
    padding: 10px;
    text-align: center;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center
}

.time-block span {
    display: block;
    font-size: 2em
}

.label {
    font-size: 1em
}

.promo-two {
    text-align: center;
    font-size: 38px;
    font-weight: 400
}

span.animation {
    font-weight: 700;
    font-size: 50px
}

span.promo-buy {
    font-weight: 700;
    font-size: 70px
}


@media (max-width:768px) {
    .logo img {
        width: 200px
    }

    .btn {
        font-size: 33px;
        width: 85%
    }

    .btn-three,
    .btn-two {
        font-size: 24px;
        width: 50%
    }

    .cards {
        display: flex;
        gap: 5%;
        padding: 0
    }

    .card {
        padding: 10px 0;
        width: 200px;
        height: 300px
    }
}

@media (max-width:500px) {
    .aviso {
        padding: 10px
    }

    .aviso p,
    .aviso span {
        font-size: 15px
    }

    .title-logo p {
        font-size: 21px
    }

    .bloco-principal {
        padding: 0
    }

    .promo {
        font-size: 32px
    }

    .logo img {
        width: 150px
    }

    .btn {
        font-size: 19px;
        width: 85%;
        padding: 10px;
        border-radius: 11px
    }

    .card,
    .m-pag img {
        width: 90%
    }

    .btn-three,
    .btn-two {
        font-size: 18px;
        width: 90%;
        border-radius: 11px
    }

    .cards {
        display: flex;
        flex-direction: column;
        gap: 1%;
        padding: 0
    }

    .card {
        padding: 10px 0;
        height: 200px
    }

    .title-dep {
        font-size: 34px;
        margin-bottom: 10px
    }

    .subtitle-dep {
        font-size: 19px;
        font-weight: 400;
        margin-bottom: 20px
    }


    .content h1,
    .info-btn span {
        font-size: 24px
    }

    .content p {
        font-size: 16px;
        padding: 0;
        margin: 0
    }

    .info-btn p {
        font-size: 22px
    }

    .countdown {
        gap: 5px;
        margin-bottom: 15px
    }

    .time-block {
        width: 25%
    }

    .interval-time {
        font-size: 7vw
    }

    #hours,
    #minutes,
    #seconds {
        font-size: 15vw
    }

    .label {
        font-size: 3vw
    }

    .promo-two {
        text-align: center;
        font-size: 23px;
        font-weight: 400
    }

    span.animation {
        font-weight: 700;
        font-size: 40px
    }

    span.promo-buy {
        font-weight: 700;
        font-size: 60px
    }
}